$('.nav-tabs').append('<li class = "active"><%= link_to "Inicial", "#Inicial" , { :role=>"tab","data-toggle" => "tab", :remote => true} %></li>');
$('.tab-content').append('<div id="Inicial" class="tab-pane active"><div class="local">Nas abas a seguir vc encontrará lojas de seu interesses</div></div>');
<% current_user.pessoa.interesses.each do |i|%>
$('.nav-tabs').append('<li><%= link_to i.descricao.capitalize, "##{i.descricao.downcase}" , { :role=>"tab","data-toggle" => "tab", :remote => true} %></li>');
$('.tab-content').append('<div id="<%= i.descricao.downcase %>" class="tab-pane local"><div id="spot<%= i.id%>"><%= escape_javascript(render :partial => 'locais', :locals => {:interesse => i.nome} )%></div></div>');

<%end%>



